<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask ae</title>
</head>
<body>
    Thành Ngọt Lắm Những Lúc Em Nắm Đôi Tay Và Hứa Sẽ Mãi Yêu Chỉ Anh Đây Từ Khi Em Qua Nơi Này Anh Thấy Vui Biết Mấy Rồi Nắng Sớm Mới Ấm Vẫn Chưa Vơi Con Tim 
    Vang Tiếng Ca Vui Cười Vì Em Mang Niềm Vui Tới Nơi Anh Như Người May Mắn Nhất Trên Đời Nào Đâu..... Chẳng Đc Bấy Lâu Lại Phải Xa Cách Nhau Cố Nén Nỗi Đau Khi 
    Cơn Mưa Ngâu Vụn Vỡ Đêm Về Lại Mơ Sớm Ra Lại Bơ Vơ Còn Xa Em Là Nhớ Chỉ Là Đôi Môi Chỉ Là.. Vài Câu Yêu Thương Thôi Mà Em Đã Khiến Anh Yêu Em Mãi Không Thể Phai 
    Phôi Anh Mong Em Đừng Thay Đổi Vì Anh Đã Quá Yêu Em Mất Rồi Vì Yêu Em ,xa Em Quanh Anh Chỉ Còn Bóng Tối Chờ Đợi Ngày Mai Chờ... Một Ngày Gần Trong Tương Lai Chờ...
     Ngày 2 Ta Đc Sánh Đôi Vai Được Bên Nhau Mãi Mãi Dẫu .. Anh Có Làm Gì Sai Cũng Sẽ Không Một Ai Có Thể Chia 2 Ta Chung Bước Mãi Trên Một Con Đường Dài..... 
     Đếm,đếm,đếm,đếm,đếm,....... Anh Đếm Ngày Xa Em ...... Rap : 1,2,3,4,5,6,7 ...Ngày Trôi, Biết Em Giờ Có Nhớ Về Anh Hay Nhớ Về Ai Bao Ngày Thật Là Dài Khi Anh Không 
     Có Em Ở Bên Cạnh Anh Cảm Thấy Rất Giá Lạnh Mà Làm Sao Cho Em Hiểu Thấu Khi Mình Không Ở Bên Nhau ... Monday ..Tuesday...Wednesday...Thursday...Friday ...Saturday...Sun 
     Day.. Oh Week Anh... Chẳng Thể Nghĩ Về Ai Chỉ Nghĩ Về Em Nỗi Buồn Thì Anh Không Thể Đếm Nỗi Nhớ Em Thì Lại Càng Tăng Thêm Ngọt Ngào Đôi Môi Không Thể Nếm Phải Làm Sao Khi 
     Không Em Mỗi Đêm... 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 Niềm Tin Đã Mất, Giọt Nước Mắt Cuốn Kí Ức Anh Chìm Sâu Tình
      Về Nơi Đâu, Cô Đơn Đôi Chân Lạc Trôi Giữa Bầu Trời Màn Đêm Che Dấu, Từng Góc Tối Khuất Lấp Phía Sau Bờ Môi ! Tại Vì Anh Thôi, Yêu Say Mê Nên Đôi Khi Quá Dại Khờ ! Nhắm Mắt 
      Ơ Thờ Anh Không Muốn Lạc Vào Trong Nỗi Đau Này Phía Trước Bây Giờ Ai Đang Nắm Chặt Bàn Tay Của Em Vậy ... Ai Vậy ??? Mông Lung Như Một Trò Đùa Anh Xin Giơ Tay Rút Lui Thôi 
      Do Ai ??? Trách Ai Bây Giờ Đây ???? Uhhhhhh .... Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau Em Hãy Cứ Đi Bên Người Mà Em Cần 
      Trái Tim Không Thuộc Về Nhau Giấc Mơ Không Là Của Nhau Xoá Câu Ca Buồn Chiều Mưa Anh Lỡ Xoá Luôn Yêu Thương Ngày Xưa Rồi Chúng Ta Không Thuộc Về Nhau Hey... Từng Đêm
       Qua ... Cơn Mưa Bao Vây Chia Rời Đôi Ta Em ... Ngày Hôm Qua ... Cuốn Gió Theo Mây Đi Về Nơi Xa Trời Xanh Rộng Bao La Anh Lê Đôi Chân Mình, Bơ Vơ Lang Thang Có Lẽ Em
        Đang Yên Vui Bên Nhân Tình Quên Đi Để Anh Nhớ Hơi Men Để Anh Mơ Nơi Đâu Để Anh Giấu Một Nỗi Buồn Vào Trong Thơ Nhắm Mắt Ơ Thờ Anh Không Muốn Lạc Vào Trong Nỗi Đau 
        Này Phía Trước Bây Giờ Ai Đang Nắm Chặt Bàn Tay Của Em Vậy Mông Lung Như Một Trò Đùa Anh Xin Giơ Tay Rút Lui Thôi Do Ai ??? Trách Ai Bây Giờ Đây ???? Uhhhhhh ....
         Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau Em Hãy Cứ Đi Bên Người Mà Em Cần Trái Tim Không Thuộc Về Nhau Giấc Mơ Khô
         ng Là Của Nhau Xoá Câu Ca Buồn Chiều Mưa Anh Lỡ Xoá Luôn Yêu Thương Ngày Xưa Rồi Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau Không Thuộc Về Nhau ...
          Không Thuộc Về Nhau ... Chúng Ta Không Thuộc Về Nhau Không Thuộc Về Nhau ... Không Thuộc Về Nhau ... Chúng Ta Không Thuộc Về Nhau Chúng Ta Không Thuộc Về Nhau 
          Chúng Ta Không Thuộc Về Nhau Em Hãy Cứ Đi Bên Người Mà Em Cần Trái Tim Không Thuộc Về Nhau Giấc Mơ Không Là Của Nhau Xoá Câu Ca Buồn Chiều Mưa Anh Lỡ Xoá Luôn
           Yêu Thương Ngày Xưa Rồi Chúng Ta Không Thuộc Về Nhau :V :V :V :V :V :V :V :V :V :V :V :V :V :V :V :V :V . Lạc Trôi 😛 😛 😛 😛 😮 😛 😛 😘 😘 😘 Người 
           Theo Hương Hoa Mây Mù Giăng Lối Làn Sương Khói Phôi Phai Đưa Bước Ai Xa Rồi Đơn Côi Mình Ta Vấn Vương Hồi Ức Trong Men Say Chiều Mưa Buồn Ngăn Giọt Lệ Ngừ
           ng Khiến Khóe Mi Sầu Bi Đường Xưa Nơi Cố Nhân Từ Giã Biệt Li Cánh Hoa Rụng Rơi Phận Duyên Mong Manh Rẽ Lối Trong Mơ Ngày Tương Phùng Ohhhh Tiếng Khóc Cuốn 
           Theo Làn Gió Bay Thuyền Ai Qua Sông Lỡ Quên Vớt Ánh Trăng Tàn Nơi Này Trống Vắng Bóng Ai Dần Hao Gầy. Ehhhhhh Lòng Ta Xin Nguyện Khắc Ghi Trong Tim Tình Nồng
            Mê Say Mặc Cho Tóc Mây Vương Lên Đôi Môi Cay Bâng Khuâng Mình Ta Lạc Trôi Giữa Đời Ta Lạc Trôi Giữa Trời Đôi Chân Lang Thang Về Nơi Đâu Bao Yêu Thương Giờ 
            Nơi Đâu Câu Thơ Tình Xưa Vội Phai Mờ Theo Làn Sương Tan Biến Trong Cõi Mơ Mưa Bụi Vương Trên Làn Mi Mắt Ngày Chia Lìa Hoa Rơi Buồn Hiu Hắt Tiếng Đàn Ai Thêm Sầu 
            Tương Tư Lặng Mình Trong Chiều Hoàng Hôn Tan Vào Lời Ca Lối Mòn Đường Vắng Một Mình Ta Nắng Chiều Vàng Úa Nhuộm Ngày Qua Xin Đừng Quay Lưng Xóa Đừng Mang Câu 
            Hẹn Ước Kia Rời Xa Yên Bình Nơi Nào Đây Chôn Vùi Theo Làn Mây Yeahhh, Lalala. Người Theo Hương Hoa Mây Mù Giăng Lối Làn Sương Khói Phôi Phai Đưa Bước Ai Xa 
            Rồi Đơn Côi Mình Ta Vấn Vương Hồi Ức Trong Men Say Chiều Mưa Buồn Ngăn Giọt Lệ Ngừng Khiến Khóe Mi Sầu Bi Đường Xưa Nơi Cố Nhân Từ Giã Biệt Li Cánh Hoa Rụng
             Rơi Phận Duyên Mong Manh Rẽ Lối Trong Mơ Ngày Tương Phùng Ohhhh Tiếng Khóc Cuốn Theo Làn Gió Bay Thuyền Ai Qua Sông Lỡ Quên Vớt Ánh Trăng Tàn Nơi Này Trống 
             Vắng Bóng Ai Dần Hao Gầy Ehhhhhh Lòng Ta Xin Nguyện Khắc Ghi Trong Tim Tình Nồng Mê Say Mặc Cho Tóc Mây Vương Lên Đôi Môi Cay Bâng Khuâng Mình Ta Lạc Trôi 
             Giữa Đời Ta Lạc Trôi Giữa Trời Ta Lạc Trôi Ta Lạc Trôi Giữa Đời Lạc Trôi Giữa Trời Yeahhh, Ahhhhhhh. Ta Đang Lạc Nơi Nào Ta Đang Lạc Nơi Nào Lối Mòn Đường 
             Vắng Một Mình Ta Ta Đang Lạc Nơi Nào Nắng Chiều Vàng Úa Nhuộm Ngày Qua Ta Đang Lạc Nơi Nào . Đổi THay Hồ Quang HIÊu :V 🙁 🙂 🙂 🙂 🙂 🙂 Những Câu Nói 
             Yêu Đã Không Còn Nhiều Tha Thiết Những Ánh Mắt Trao Nhau Sao Không Như Lúc Đầu Có Lẽ Ta Đã Trải Qua Những Tháng Ngày Hạnh Phúc Mà Giờ Đây Trong Tim Em Đã 
             Quên Dần Đi Nếu Anh Cố Giữ Lấy Những Hoài Niệm Khi Ấy Nếu Anh Cố Giữ Em Mãi Bên Anh Chúng Ta Không Thể Nào Trốn Tránh Mãi Trong Ký Ức Vì Dường Như Hôm Nay 
             Mọi Thứ Đã Đổi Thay Vòng Tay Anh Ôm Lấy Những Kỷ Niệm Xa Vời Dù Nắm Tay Nhưng Cảm Giác Không Phải Ngày Xưa Đã Từng Yêu Đã Từng Nhớ Đã Từng Mơ Mộng Về Một 
             Ngày Bên Nhau Mãi Mãi Thì Thôi Hãy Đi Tiếp Con Đường Em Chọn Và Đừng Quên Anh Nhé Anh Vẫn Ở Đây Vẫn Là Anh Như Ngày Xưa Em Từng Rất Yêu Phải Không Em Nếu 
             Anh Cố Giữ Lấy Những Hoài Niệm Khi Ấy Và Nếu Anh Cố Giữ Em Về Đây Cũng Không Thể Nào Níu Giữ Lấy Một Vòng Tay Vì Trái Tim Em Nay Đã Đổi Thay Vòng Tay Anh 
             Ôm Lấy Những Kỷ Niệm Xa Vời Dù Nắm Tay Nhưng Cảm Giác Không Phải Ngày Xưa Đã Từng Yêu Đã Từng Nhớ Đã Từng Mơ Mộng Về Một Ngày Bên Nhau Mãi Mãi Thì Thôi Hãy 
             Đi Tiếp Con Đường Em Chọn Và Đừng Quên Anh Nhé Anh Vẫn Ở Đây Vẫn Là Anh Như Ngày Xưa Em Từng Rất Yêu Phải Không Em Vòng Tay Anh Ôm Lấy Những Kỷ Niệm Xa Vời 
             Dù Nắm Tay Nhưng Cảm Giác Không Phải Ngày Xưa Đã Từng Yêu Đã Từng Nhớ Đã Từng Mơ Mộng Về Một Ngày Bên Nhau Mãi Mãi Thì Thôi Hãy Đi Tiếp Con Đường Em Chọn Và 
             Đừng Quên Anh Nhé Anh Vẫn Ở Đây Vẫn Là Anh Như Ngày Xưa Em Từng Rất Yêu Phải Không Em . Một Ngày Vắng Yêu Thương Nỗi Nhớ Quay Cuồng Trong Đêm Nhiều Ngày Vắng 
             Hỡi Em Nỗi Nhớ Ngày Càng Dâng Lên Tóc Rối Khi Không Thấy Người Đẫm Nát Lang Thang Cuối Trời Ngày Tàn Anh Chơi Vơi Với Cuộc Đời Giờ Thì Đã Chia Li Ta Mãi Không 
             Còn Bên Nhau Và Người Đó Ra Đi Không Biết Phải Tìm Nơi Đâu Ấy Thế Không Có Nghĩa Là Dứt Khoát Ta Phải Cách Xa Cuộc Tình Chưa Thể Nào Chấm Dứt, Không Thể Như 
             Thế Đk: Một Ngày Nào Đó Với Anh Không Còn Buồn Nữa Đâu Bước Qua Nỗi Buồn Sẽ Tan Vào Trong Hố Sâu Rồi Mênh Mang Thức Giấc Chỉ Là Chiêm Bao Thôi Vội Mặc Chiếc Áo
              Bước Mau Nhưng Tìm Em Chốn Nao Bước Trong Ánh Đèn, Trước Mắt Toàn Là Bóng Đêm Dòng Người Vẫn Đan Xen, Một Mình Tôi Bơ Vơ Lạc Lối Giữa Bao Con Người...Mình Tôi 
              . Nhiều Khi Anh Mong Được Một Lần Nói Ra Hết Tất Cả Thay Vì, Ngồi Lặng Im Nghe Em Kể Về Anh Ta Bằng Đôi Mắt Lấp Lánh Đôi Lúc Em Tránh Ánh Mắt Của Anh Vì Dường 
              Như Lúc Nào Em Cũng Hiểu Thấu Lòng Anh. Không Thể Ngắt Lời, Càng Không Thể Để Giọt Lệ Nào Được Rơi. Nên Anh Lùi Bước Về Sau, Để Thấy Em Rõ Hơn Để Có Thể Ngắm Em 
              Từ Xa Âu Yếm Hơn Cả Nguồn Sống Bỗng Chốc Thu Bé Lại Vừa Bằng Một Cô Gái Hay Anh Vẫn Sẽ Lặng Lẽ Kế Bên Dù Không Nắm Tay Nhưng Đường Chung Mãi Mãi Và Từ Ấy Ánh Mắt 
              Anh Hồn Nhiên Đến Lạ Chẳng Một Ai Có Thể Cản Được Trái Tim Khi Đã Lỡ Yêu Rồi Đừng Ai Can Ngăn Tôi Khuyên Tôi Buông Xuôi Vì Yêu Không Có Lỗi Ai Cũng Ước Muốn Khao 
              Khát Được Yêu Được Chờ Mong Tới Giờ Ai Nhắc Đưa Đón Buổi Chiều Mỗi Sáng Thức Dậy Được Ngắm Một Người Nằm Cạnh Ngủ Say Nên Anh Lùi Bước Về Sau, Để Thấy Em Rõ Hơn Đ
              ể Có Thể Ngắm Em Từ Xa Âu Yếm Hơn Cả Nguồn Sống Bỗng Chốc Thu Bé Lại Vừa Bằng Một Cô Gái Hay Anh Vẫn Sẽ Lặng Lẽ Kế Bên Dù Không Nắm Tay Nhưng Đường Chung Mãi Mãi 
              Và Từ Ấy Ánh Mắt Anh Hồn Nhiên Đến Lạ Vì Sao Anh Không Thể Gặp Được Em Sớm Hơn . Điều Anh Biết Anh Không Biết Bao Nhiêu Sao Trên Trời Anh Không Biết Cuộc Đời Mai 
              Ra Sao Dù Gian Lao Dù Ra Sao Thì Anh Vẫn Luôn Có Có Một Người Luôn Bên Cạnh Anh Mãi Thôi Anh Không Biết Yêu Em Sao Cho Vừa Anh Không Biết Ngọt Ngào Hay Trăng Sao T
              ình Yêu Anh Dù Không Mấy Lời Nhưng Lòng Anh Biết Ý Nghĩa Cuộc Đời Này Khi Có Em Và Em Ơi Điều Anh Biết Là Mỗi Khi Em Cười Là Bao Nhiêu Phiền Lo Trong Đời Biến Tan 
              Và Em Ơi Điều Anh Biết Là Nỗi Nhớ Tơi Bời Lúc Em Rời Xa Chốn Đây Em Giận Anh Và Em Ơi Điều Anh Biết Là Lắm Khi Đau Lòng Vì Anh Vô Tình Cho Em Buồn Xót Xa Và Em Ơi 
              Điều Anh Biết Là Không Cần Câu Hứa Đã Yêu Hôm Nay Yêu Nhiều Hơn Lúc Xưa Anh Trông Thấy Bao Bông Hoa Trên Đời Anh Không Thấy Người Nào Xinh Hơn Em Vì Anh Yêu Trọn 
              Đôi Mắt Này Yêu Trọn Tâm Trí Chỉ Xin Một Đời Được Che Chở Em. Anh Không Biết Bao Nhiêu Sao Trên Trời Anh Không Biết Cuộc Đời Mai Ra Sao Dù Gian Lao Dù Ra Sao Thì 
              Anh Vẫn Luôn Có Có Một Người Luôn Bên Cạnh Anh Mãi Thôi Anh Không Biết Yêu Em Sao Cho Vừa Anh Không Biết Ngọt Ngào Hay Trăng Sao Tình Yêu Anh Dù Không Mấy Lời 
              Nhưng Lòng Anh Biết Ý Nghĩa Cuộc Đời Này Khi Có Em Và Em Ơi Điều Anh Biết Là Mỗi Khi Em Cười Là Bao Nhiêu Phiền Lo Trong Đời Biến Tan Và Em Ơi Điều Anh Biết Là 
              Nỗi Nhớ Tơi Bời Lúc Em Rời Xa Chốn Đây Em Giận Anh Và Em Ơi Điều Anh Biết Là Lắm Khi Đau Lòng Vì Anh Vô Tình Cho Em Buồn Xót Xa Và Em Ơi Điều Anh Biết Là Không 
              Cần Câu Hứa Đã Yêu Hôm Nay Yêu Nhiều Hơn Lúc Xưa Và Em Ơi Điều Anh Biết Là Mỗi Khi Em Cười Là Bao Nhiêu Phiền Lo Trong Đời Biến Tan Và Em Ơi Điều Anh Biết Là Nỗi 
              Nhớ Tơi Bời Lúc Em Rời Xa Chốn Đây Em Giận Anh Và Em Ơi Điều Anh Biết Là Lắm Khi Đau Lòng Vì Anh Vô Tình Cho Em Buồn Xót Xa Và Em Ơi Điều Anh Biết Là Không Cần Câu 
              Hứa Đã Yêu Hôm Nay Yêu Nhiều Hơn Lúc Xưa Anh Trông Thấy Bao Bông Hoa Trên Đời Anh Không Thấy Người Nào Xinh Hơn Em Vì Anh Yêu Trọn Đôi Mắt Này Yêu Trọn Tâm Trí Chỉ 
              Xin Một Đời Được Che Chở Em . 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 
              😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 
              😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 😘 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 
              🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 
              🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 🙂 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 💩 
              Người Yêu Ơi Yêu Mình Em Được Không Từ Giờ Và Sau Này Gió Lạnh Nơi Đây Mùa Đông Là Ngày Ta Sum Vầy Con Tim Hao Gầy Tình Yêu Đong Đầy Hãy Để Anh Chứng Minh Cho Em 
              Thấy Người Yêu Ơi! Yêu Thì Có Gì Sai Đâu Có Sai Đâu, Không Là Em Thì Ai Để Em Đưa Anh Về, Là Tình Yêu Mãi Mê Mặc Kệ Người Ta Cười Chê Bởi Vì Tình Yêu Là Thế Làm 
              Người Yêu Em Nhé Baybe. Anh Là Em, Còn Em Thì Anh Là Em Còn Em Thì Ngồi Ngẫn Ngơ Nhìn Khuôn Mặt Ngây Thơ Đó Anh Hẫn Hờ Quá Nên Em Mới Sợ Bơ Vơ Đợi Chờ Đôi Mắt 
              Ngoan Anh Ngại Ngùng Ngó Sang Em Thẫn Thờ, Bơ Phờ Đôi Mắt Mơ Em Đã Cố Đổi Thay Để Mạnh Mẽ Hơn Vì Em Sợ Cô Đơn Nói Yêu Môi Hồng Mắt Công Bờ Môi Mộng Rất Khó Vì 
              Lo Trong Trái Tim Anh Đã Có Ai Nhưng Người Yêu Anh Là Sai Thì Em Đây Không Cần Đúng . Con Đốt Điếu Cần (cây Nhang), Để Cúng Cho Di Lặc Cám Ơn Người Đã Ban Quần 
              Áo Con Đang Mặc Chén Cơm Con Đang Ăn , Cọng Cần (cọng Rau) Con Đang Cắt Cuộc Sống Của Con Hôm Nay, Con Cám Ơn Người Đã Để Mắt Tới Con Tới Cuộc Sống Này Có Bao N
              hiêu Điều Đẹp Nhìn Đâu Đâu Cũng Đẹp Từ Cây Bông Cho Đến Đôi Dép Cây Đẹp, Nhà Đẹp ,ngoài Đường Các Em Gái Đang Chạy Xe Trên Đường Nguyễn Trãi E Thẹn Nhìn Connnnn 
              Con Đang Được Bay, Bay Như Người Say Quên Đi Hết Cuộc Đời Này, Nếu Con Chết Đêm Nay Cũng Phải Hút Cạn Điếu Này (thuốc), Nghe 1 Bàiiiii Nhạc Thật Hay Tận Hưởng 
              Đến Giọt Cuối Cùng Mặc Kệ Rượu Cayyyyy 1 Điếu, Cho Anh Em ,người Cùng Con Vào Sinh Ra Tử 1 Điếu , Cho Cha Mẹ , Tội Bất Hiếu Này Khó Tha Thứ 1 Điếu , Dành Cho Trời 
              , 1 Điếu , Dành Cho Đất 1 Điếu , Dành Cho Những Người Lạy Trước Bàn Thờ Khi Con Mất Hook: Nam Mô Verse 2: Mô Phật Phù Hộ Độ Trì Cho Con Chạy 1 Vòng Ở Sài Gòn Con 
              Muốn An Tòan Không Bị Cướp, Không Bị Phạt , Con Muốn Tiền Còn Con Muốn Được Thanh Thản Không Muốn Nó Phiền Con Muốn 1 Ngày Thật Là Đẹp , Không Có Mưa ,nắng Không 
              Gắt Con Muốn Anh Em Của Mình Không Còn Bị Giam Sau Song Sắt Cháy Không Tắt ,hút Điếu Cần (thuốc) Trên Đường Phố Không Ai Bị Bắt Bởi Con Chắc Buổi Cơm Tối Gia Đình 
              Không Muốn 1 Ai Vắng Mặt Xin Các Ơn Trên Nghe Lời Cầu Xin ( Hát ) Con Chỉ Mưu Cầu Hạnh Phúc, Cho Người Anh Cho Người Em Cho Người Bạn Của Wowy Hút Cùng Nhau 1 Điếu 
              Cho Anh Em ,người Cùng Con Vào Sinh Ra Tử 1 Điếu Cho Cha Mẹ Tội Bất Hiếu Này Khó Tha Thứ 1 Điếu Dành Cho Trời 1 Điếu Dành Cho Đất 1 Điếu Dành Cho Những Người Lạy 
              Trước Bàn Thờ Khi Con Mất Break: Cầu Trời Khấn Phật Cho Anh Em Con An Toàn 1 Lạy Xin Đất Cho Mẹ Cha Con Bình An Nam Mô Cúi Đầu Con Không Muốn Sống Lâu Con Chỉ Muốn 
              Xin Người Lắng Nghe Đây Là Lời Con Khẩn Cầu 1 Điếu Cho Anh Em Người Cùng Con Vào Sinh Ra Tử 1 Điếu Cho Cha Mẹ, Tội Bất Hiếu Này Khó Tha Thứ 1 Điếu Dành Cho Trời 1 
              Điếu Dành Cho Đất 1 Điếu Dành Cho Những Người Lạy Trước Bàn Thờ Khi Con Mất . Nam Mô 🙂 ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶_____________
              __¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ ¶¶¶¶¶¶¶¶¶¶¶_____¶¶¶¶___¶¶¶¶¶¶_____¶¶¶¶¶¶¶¶¶¶¶ ¶¶¶¶¶¶¶¶¶___¶¶¶¶¶¶¶______¶¶¶¶¶¶¶¶___¶¶¶¶¶¶¶¶¶ ¶¶¶¶¶¶¶___¶¶¶¶¶¶¶¶______¶¶¶_¶¶¶¶¶¶¶¶__¶¶¶¶¶¶¶ ¶¶¶¶¶_
              __¶¶¶¶¶¶¶¶¶_______________________¶¶¶¶¶ ¶¶¶¶__¶¶¶¶¶¶¶¶¶_________¶¶________¶¶¶¶¶__¶¶¶¶ ¶¶¶__¶¶¶¶¶¶¶¶¶¶_________________¶¶¶¶¶¶¶¶__¶¶¶ ¶¶__¶¶¶¶¶¶¶¶¶¶¶_____________
              ¶¶¶__¶¶¶¶¶¶¶¶__¶¶ ¶¶_¶¶¶¶¶¶¶¶¶¶¶_________¶¶¶¶¶¶¶¶¶_¶¶¶¶¶¶¶¶¶_¶¶ ¶__¶¶¶¶¶¶¶¶¶¶¶_________¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶__¶ ¶_¶¶¶¶¶¶¶¶¶¶¶¶________
</body>
</html>